$color-1: #353535;
$color-2: #3C6E71;
$color-3: #FFFFFF;
$color-4: #D9D9D9;
$color-5: #284B63;

$color-1-text: #FFFFFF;
$color-2-text: #FFFFFF;
$color-3-text: #000000;
$color-4-text: #000000;
$color-5-text: #FFFFFF;

$error-color-1: #ab0000;
$error-color-2: #e00000;