@import "./palette";
@import "./contentAdjustment";

@mixin separator-horizontal($margin: ($page-section-vertical-gap 0), $color: rgba($color-contrast, 0.5)) {
  border-top: 1px solid $color;
  margin: $margin;
}

@mixin separator-vertical($margin: (0 $page-section-vertical-gap), $color: rgba($color-contrast, 0.5)) {
  border-right: 1px solid $color;
  margin: $margin;
}