@import "./contentAdjustment";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$bold: 700;

$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 18px;

$small-font-size: 12px;

$p-margin: $padding-step-large;