%with-left-neighbour {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

%with-right-neighbour {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

%between-neighbours {
  border-radius: 0;
}