@import "../contentAdjustment";

%list-reset {
  list-style: none;
}

@mixin panel($gap: $padding-step-large) {
  @extend %list-reset;

  display: flex;
  justify-content: flex-start;

  gap: $gap;
}

%breadcrumbs {
  display: flex;
  align-items: flex-end;

  %breadcrumbs-item::after {
    content: '/';
    color: rgba(0, 0, 0, 0.3);
    padding: 4px;
  }
  %breadcrumbs-item:last-child::after {
    content: none;
  }
}